streamlit
pandas
plotly
python-dotenv
google-generativeai
numpy
scikit-learn
scipy
scikit-image
opencv-python
opencv-python-headless
tensorflow
tensorflow-addons
tensorflow-datasets
tensorflow-hub
langchain
langchainhub
langchain-openai
langchain-embeddings
langchain-textsplitter
langchain-llm-metadata
langchain-embeddings-openai
langchain-embeddings-huggingface
langchain-embeddings-sklearn
langchain-embeddings-tensorflow
langchain-embeddings-tensorflow-hub
langchain-embeddings-tensorflow-datasets
langchain-embeddings-tensorflow-addons