aiobotocore
aiohappyeyeballs 
aiohttp 
aioitertools
aiosignal 
alabaster 
altair
annotated-types==0.7.0
anyio 
appdirs==1.4.4
applaunchservices
appnope
appscript
argon2-cffi
argon2-cffi-bindings
arrow
astroid
astropy 
asttokens
async-lru 
async-timeout==4.0.3
asyncssh 
atomicwrites==1.4.0
attrs 
Automat 
autopep8 
axial_positional_embedding==0.3.12
babel 
backcall 
bcrypt 
beautifulsoup4 
binaryornot 
black
bleach 
blinker 
bokeh 
botocore 
Bottleneck 
Brotli 
cachetools 
certifi 
cffi 
chardet 
charset-normalizer
click 
cloudpickle 
colorcet 
CoLT5-attention==0.11.1
comm
constantly 
contourpy 
cookiecutter
cryptography
cssselect
cycler 
cytoolz 
dask 
dask-expr 
dataclasses-json==0.6.7
datashader 
debugpy
decorator 
defusedxml 
Deprecated 
diff-match-patch 
dill 
distributed 
distro==1.9.0
docker-pycreds==0.4.0
docstring-to-markdown 
docutils 
einops==0.8.1
et-xmlfile==1.1.0
eval_type_backport==0.2.2
exceptiongroup 
executing 
fastjsonschema 
filelock
filetype==1.2.0
flake8
Flask 
fonttools 
fpdf==1.7.2
frozenlist 
fsspec 
gitdb 
GitPython 
gmpy2 
google-ai-generativelanguage==0.6.15
google-api-core==2.24.2
google-api-python-client==2.166.0
google-auth==2.38.0
google-auth-httplib2==0.2.0
google-generativeai==0.8.4
googleapis-common-protos==1.69.2
graphviz==0.20.3
greenlet 
grpcio==1.71.0
grpcio-status==1.71.0
h11 
h5py
HeapDict
holoviews
httpcore 
httplib2==0.22.0
httpx 
httpx-sse==0.4.0
hvplot 
hyper-connections==0.1.15
hyperlink 
idna 
imagecodecs 
imageio
imagesize 
imbalanced-learn
importlib_metadata 
importlib_resources
incremental 
inflection==0.5.1
iniconfig
intake
intervaltree 
ipykernel
ipython 
ipython-genutils 
ipywidgets 
isort 
itemadapter 
itemloaders 
itsdangerous 
jaraco.classes 
jedi 
jellyfish 
Jinja2 
jiter==0.9.0
jmespath
joblib 
json5 
jsonpatch==1.33
jsonpointer==3.0.0
jsonschema 
jsonschema-specifications
jupyter 
jupyter-console 
jupyter-events 
jupyter-lsp 
jupyter_client 
jupyter_core 
jupyter_server 
jupyter_server_terminals 
jupyterlab 
jupyterlab-widgets 
jupyterlab_pygments 
jupyterlab_server 
keyring 
kiwisolver 
langchain==0.3.23
langchain-community==0.3.21
langchain-core==0.3.55
langchain-google-genai==2.0.10
langchain-text-splitters==0.3.8
langsmith==0.3.33
lazy_loader 
lckr_jupyterlab_variableinspector
linkify-it-py 
llvmlite
lmdb 
local-attention==1.11.1
locket
lxml 
lz4
Markdown
markdown-it-py 
MarkupSafe 
marshmallow==3.26.1
matplotlib==3.9.2
matplotlib-inline 
mccabe 
mdit-py-plugins 
mdurl 
mistune 
more-itertools 
mpmath 
msgpack 
multidict 
multipledispatch
mypy
mypy-extensions 
nbclient 
nbconvert
nbformat 
nest-asyncio 
networkx 
nltk 
notebook 
notebook_shim 
numba 
numexpr 
numpy==1.26.4
numpydoc
openai==1.72.0
openpyxl 
orjson==3.10.16
overrides
packaging
pandas==2.2.3
pandocfilters 
panel
param
parsel 
parso 
partd 
pathspec 
patsy 
pexpect 
pickleshare 
pillow 
platformdirs
plotly 
pluggy 
ply==3.11
product_key_memory==0.2.11
prometheus_client 
prompt-toolkit 
propcache 
Protego 
proto-plus==1.26.1
protobuf==5.29.4
psutil 
psycopg2-binary==2.9.10
ptyprocess 
pure-eval 
py-cpuinfo 
pyarrow 
pyasn1 
pyasn1-modules==0.2.8
pycodestyle 
pycparser 
pyct 
pycurl 
pydantic==2.11.0
pydantic-settings==2.9.1
pydantic_core==2.33.0
pydeck 
PyDispatcher==2.0.5
pydocstyle 
pyerfa 
pyflakes 
PyGithub 
Pygments 
PyJWT 
pylint 
pylint-venv 
pyls-spyder==0.4.0
PyNaCl 
pyobjc-core 
pyobjc-framework-Cocoa
pyobjc-framework-CoreServices 
pyobjc-framework-FSEvents 
pyodbc 
pyOpenSSL 
pyparsing 
PyQt5==5.15.10
PyQt5_sip 
PyQtWebEngine==5.15.6
PySocks 
pytest 
python-dateutil 
python-dotenv==1.1.0
python-json-logger 
python-lsp-black 
python-lsp-jsonrpc 
python-lsp-server 
python-slugify 
pytoolconfig
pytz 
pyuca 
pyviz_comms 
pywavelets 
PyYAML 
pyzmq 
QDarkStyle 
qstylizer 
QtAwesome
qtconsole 
QtPy 
queuelib 
referencing 
reformer-pytorch==1.4.4
regex 
reportlab==4.3.1
requests
requests-file 
requests-toolbelt==1.0.0
rfc3339-validator 
rfc3986-validator 
rich 
rope 
rpds-py 
rsa==4.9
Rtree 
s3fs 
scikit-image 
scikit-learn 
scipy==1.11.3
Scrapy 
seaborn 
Send2Trash 
sentry-sdk==2.24.1
service-identity 
setproctitle==1.3.5
shap==0.47.1
sip 
six 
slicer==0.0.8
smmap 
sniffio
snowballstemmer
sortedcontainers 
soupsieve
Sphinx 
sphinxcontrib-applehelp 
sphinxcontrib-devhelp 
sphinxcontrib-htmlhelp 
sphinxcontrib-jsmath 
sphinxcontrib-qthelp 
sphinxcontrib-serializinghtml 
spyder 
spyder-kernels 
SQLAlchemy 
stack-data 
statsmodels 
streamlit 
superqt
sympy==1.13.1
tables 
tabulate 
tblib 
tenacity
terminado 
text-unidecode 
textdistance
threadpoolctl 
three-merge 
tifffile 
tinycss2 
tldextract 
toml
tomli 
tomlkit 
toolz 
torch==2.6.0
torchvision==0.21.0
tornado
tqdm 
traitlets
Twisted 
typing-inspect==0.9.0
typing-inspection==0.4.0
typing_extensions 
tzdata 
uc-micro-py
ujson
unicodedata2 
Unidecode 
uritemplate==4.1.1
urllib3
w3lib 
wandb==0.19.8
watchdog 
wcwidth 
webencodings==0.5.1
websocket-client 
Werkzeug
whatthepatch 
widgetsnbextension 
wrapt 
wurlitzer 
xarray 
xgboost==2.1.4
xlwings
xyzservices 
yapf 
yarl 
zict 
zipp 
zope.interface 
zstandard==0.23.0

numpy==1.24.4
scikit-learn
tqdm
torch==2.6.0
psycopg2-binary
scipy==1.11.3
pydantic~=2.10.4
openai~=1.58.1
tenacity~=9.0.0
pyyaml~=6.0.2
loguru~=0.7.3
numpy
datasets~=3.2.0
fastapi~=0.115.11

html2text~=2024.2.26
gymnasium~=1.0.0
pillow~=10.4.0
browsergym~=0.13.3
uvicorn~=0.34.0
unidiff~=0.7.5
browser-use~=0.1.40
googlesearch-python~=1.3.0
baidusearch~=1.0.3
duckduckgo_search~=7.5.1

aiofiles~=24.1.0
pydantic_core~=2.27.2
colorama~=0.4.6
playwright~=1.49.1
